
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ player.name }}: Scorpio</title>
    <script src="{% static 'js/timer.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap" rel="stylesheet">
</head>

<style>

    .container-fluid {
        background-image: url("{% static "img/newspaper_two.jpg" %}");
        background-position: 50% 50%;
        background-repeat: repeat;
    }

    .rajdhani {font-family: 'Rajdhani', sans-serif;}

</style>

<body >


    <div class="container-fluid">

        <br>

        <!-- <h6>User: {{ player.name }}</h6> -->
            <p class="rajdhani"; style="font-size: 10px; color:black; ">
            <u>Round: <span id="round"></span> | Timer: <span id="timer"></u></span></p>
            <!-- <p style="font-size: 10px;">Timer: <span id="timer"></span></p> -->

        <span id="activeScreen">
        </span>
    </div>

    <script>
        let player_id = "{{ player.id }}"
        let roundZeroEndTime = "{{ roundZeroEndTime }}"
        let roundOneEndTime = "{{ roundOneEndTime }}"
        let roundTwoEndTime = "{{ roundTwoEndTime }}"
        let roundThreeEndTime = "{{ roundThreeEndTime }}"
        polling = () => {
            console.log("polling", {{roundZeroEndTime}})

// enabled
            setInterval(function() {checkPlayerScreen()}, {{ bulletin_polling }})
            getPlayerScreen()
            setInterval(function() {timer(
                roundZeroEndTime,
                roundOneEndTime,
                roundTwoEndTime,
                roundThreeEndTime
                )}, 1000)

        }
        // getMessages = () => {
        //     console.log("getMessages")
        //     var xhttp = new XMLHttpRequest()
        //     xhttp.open("GET", "/getMessages", true)
        //     xhttp.send()
        // }

       getPlayerMessages = (player_id) => {
        //    const user = {{ user }}
           const url = "/getPlayerMessages/" + player_id
           fetch(url)
                .then(response => response.text())
                .then(data => console.log(data))

       }
       getPlayerScreen = () => {
        //    console.log("player----", player)
           const url  ="/getPlayerScreen/" + player_id
           fetch(url)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('activeScreen').innerHTML = data
                })
       }

        let playerActiveScreen = "{{ playerActiveScreen }}"

       checkPlayerScreen = () => {

           //    console.log("check player screen", playerActiveScreen)
           const url = "/checkPlayerScreen/" + player_id
           fetch(url)
           .then(response => response.json())
           .then(data => {
               console.log("data", data["active_screen"], playerActiveScreen)
               if(playerActiveScreen != data["active_screen"]){
                   console.log("update screen")
                   roundOneEndTime = data["roundOneEndTime"]
                   roundTwoEndTime = data["roundTwoEndTime"]
                   roundThreeEndTime = data["roundThreeEndTime"]
                   playerActiveScreen = data["active_screen"]
                   roundZeroEndTime = data["roundZeroEndTime"]
                   roundOneEndTime = data["roundOneEndTime"]
                   roundTwoEndTime = data["roundTwoEndTime"]
                   roundThreeEndTime = data["roundThreeEndTime"]
                   getPlayerScreen()
                } else {
                        // timer()
                        // console.log("no changes")
                    }
                })
       }

       document.onload(polling())
    </script>
</body>
</html>
