<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'js/timer.js' %}"></script>
</head>
<body>
    <h1>Bulletin</h1>
    <h4>User: {{ player.name }}</h4>

    <div style="border:1px solid black">
            <div style="border: 1px solid black">
                <h4>Round: <span id="round"></span></h4>
                <h4>Timer: <span id="timer"></span></h4>
            </div>
            <span id="activeScreen">
                
                {% include activeScreen with tip_on_mafia_one=tip_on_mafia_one %}
                
            </span> 
    </div>
    <h4>Nickname: {{ nickname }}</h4>
    <h4>Role: {{ role }}</h4>
    <h4>Informant: {{ informant }}</h4>
    <button onclick="getPlayerMessages('{{ user }}')">Get Messages</button>
    <h4>Messages: {{ messages }}</h4>



    <script>
        let player_id = "{{ player.id }}"
        console.log({player_id})
        polling = () => {
        //     setInterval(function() {getMessages()}, 2000)
            // setInterval(function() {checkPlayerScreen()}, 1000)
            setInterval(function() {timer(
                {{roundOneEndTime}},
                {{roundTwoEndTime}},
                {{roundThreeEndTime}}                
                )}, 1000)
      
        }
        // getMessages = () => {
        //     console.log("getMessages")
        //     var xhttp = new XMLHttpRequest()
        //     xhttp.open("GET", "/getMessages", true)
        //     xhttp.send()
        // }

       getPlayerMessages = (player_id) => {
        //    const user = {{ user }}
           const url = "/getPlayerMessages/" + player_id
           fetch(url)
                .then(response => response.text())
                .then(data => console.log(data))
        
       }
       getPlayerScreen = () => {
        //    console.log("player----", player)
           const url  ="/getPlayerScreen/" + player_id
           fetch(url)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('activeScreen').innerHTML = data
                })
       }
    
        let playerActiveScreen = "{{ playerActiveScreen }}"
        let roundOneEndTime = ""
        let roundTwoEndTime = ""
        let roundThreeEndTime = ""   
       checkPlayerScreen = () => {
           
           //    console.log("check player screen", playerActiveScreen)
           const url = "/checkPlayerScreen/" + player_id
           fetch(url)
           .then(response => response.json())
           .then(data => {
               console.log("data", data["active_screen"], playerActiveScreen)
               if(playerActiveScreen != data["active_screen"]){
                   // console.log("update screen")
                   roundOneEndTime = data["roundOneEndTime"]
                   roundTwoEndTime = data["roundTwoEndTime"]
                   roundThreeEndTime = data["roundThreeEndTime"]
                   playerActiveScreen = data["active_screen"]
                   getPlayerScreen()
                } else { 
                        // timer()
                        // console.log("no changes")
                    }
                })
       }
       document.onload(polling())
    </script>
</body>
</html>