<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bulletin</h1>
    <h4>User: {{ user }}</h4>
    {% include "screens/timer.html" %}

    <div style="border:1px solid black">
            <span id="activeScreen">
                
                {% include activeScreen %}
                
            </span> 
    </div>
    <h4>Nickname: {{ nickname }}</h4>
    <h4>Role: {{ role }}</h4>
    <h4>Informant: {{ informant }}</h4>
    <button onclick="getPlayerMessages('{{ user }}')">Get Messages</button>
    <h4>Messages: {{ messages }}</h4>



    <script>
        let player = "{{ user }}"
        console.log({player})
        polling = () => {
        //     setInterval(function() {getMessages()}, 2000)
            setInterval(function() {checkPlayerScreen()}, 5000)
      
        }
        // getMessages = () => {
        //     console.log("getMessages")
        //     var xhttp = new XMLHttpRequest()
        //     xhttp.open("GET", "/getMessages", true)
        //     xhttp.send()
        // }

       getPlayerMessages = (user) => {
        //    const user = {{ user }}
           const url = "/getPlayerMessages/" + user
           fetch(url)
                .then(response => response.text())
                .then(data => console.log(data))
        
       }
       getPlayerScreen = () => {
           console.log("player----", player)
           const url  ="/getPlayerScreen/" + player
           fetch(url)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('activeScreen').innerHTML = data
                })
       }
    

       let playerActiveScreen = "{{ playerActiveScreen }}"
       checkPlayerScreen = () => {
        //    console.log("check player screen", playerActiveScreen)
           const url = "/checkPlayerScreen/" + player
           fetch(url)
                .then(response => response.text())
                .then(data => {
                    // console.log({data}, {playerActiveScreen})
                    if(playerActiveScreen != data){
                        // console.log("update screen")
                        getPlayerScreen()
                        playerActiveScreen = data
                    } else { 
                        // console.log("no changes")
                    }
                })
       }
       document.onload(polling())
    </script>
</body>
</html>