{% extends "base.html" %}

{% block body %}
  <!-- Header -->
  <!-- <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Space Dragons presents...</div>
        <div class="intro-heading text-uppercase">A Halloween Murder Mystery</div>
      </div>
    </div>
  </header> -->

  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Customs Declaration</h2>
          <h3 class="section-subheading text-muted">Land of the Dead Customs and Border Protection</h3>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Success! You're all clear to go. Enjoy the party.

        </div>
      </div>
    </div>
  </section>
{% endblock %}
