<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'js/timer.js' %}"></script>

    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body style="background-color: white;color: black;">
    <div style="border:1px solid black;">
        <h1>Dashboard
            <span>
                <a href="/debugSwitch">
                    <button>Debug: {{ debug }}</button>
                </a>
            </span>
        </h1>
        <div>
            <form action="/pregameLengthSet" method="Post">
                {% csrf_token %}
                <label for="pregameLength">Pregame ({{ time }})</label>
                <input id="pregameLength" name="pregameLength" type="text">
                <input type="submit" value="submit">
                {{ pregameLength }} {{ time }}
            </form>
            <form action="/roundLengthSet" method="Post">
                {% csrf_token %}
                <label for="roundLength">Rounds ({{ time }})</label>
                <input id="roundLength" name="roundLength" type="text">
                <input type="submit" value="submit">
                {{ roundLength }} {{ time }}
            </form>
        </div>
        <div>

            <!-- <a href='/loadPlayerData'><button>Load Player Data</button></a>
            <a href='/deletePlayerData'><button>Delete Player Data</button></a>
            <a href='/assignMafiaRole'><button>1-Assign Mafia Role</button></a>
            <a href='/assignInformants'><button>2-Assign Informants</button></a> -->
            <!-- <a href='/reassignInformants'><button>3-Reassign Informants</button></a> -->
            <!-- <a href='/assignAllToDetective'><button>Assign All To Detective</button></a> -->
            <a href='/processSurvey'><button>Process Survey</button></a>

        </div>
        <a href="/startGame" style="text-decoration: none;">
            <button style="background-color: lightgreen;">Start Game</button>
        </a>
        <a href="/stopGame" style="text-decoration: none;">
            <button style="background-color: red;">Stop Game</button>
        </a>
        <!-- <button onclick="startTimer()">Start Timer</button> -->
        <!-- <button onclick="sendMessage('All')">Message all users</button> -->
        <!-- <button onclick="deleteAllPlayerMessages()">Delete all messages</button> -->
        <!-- <a href="/resurrectAllPlayers"><button>Resurrect Players</button></a> -->
        <div style="border: 1px solid black">
            <h4>Round: <span id="round"></span></h4>
            <h4>Timer: <span id="timer"></span></h4>
        </div>
        
        <div>
        <h3>Players</h3>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Nickname</th>
                    <th>Partner</th>
                    <th>Tip</th>
                    <th>Screen</th>
                    <th>Override</th>
                    <th>Role</th>
                    <th>Has Been Informant</th>
                    <th>Alive</th>
                </tr>
            </thead>
            <tbody id="playerData">
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="border:1px solid black;">
        <h1>Player Answers</h1>
        <!-- <button onclick="countSelected2()">countSelected2</button> -->

        <table>
            <thead>
                <tr>
                    <td>Player</td>
                    <td>Answers</td>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                <tr>
                    <td>{{ player.name }}</td>
                    <td>
                        <div>Low: {{ player.low_accuracy_question }}</div>
                        <div>Med: {{ player.med_accuracy_question }}</div>
                        <div>High: {{ player.high_accuracy_question }}</div>
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="border:1px solid black;">
        <h1>Questions v1</h1>
        <a href="/countSelected">
            <button>Count answers</button>
        </a>
        <a href="/clearCountSelected">
            <button>Clear count answers</button>
        </a>
        <a href="/getTip"><button>Get new tip</button></a>
        {{ current_tip }}
        <!-- <p>Low accuracy question: {{ low_accuracy }}</p>
        <p>High accuracy question: {{ high_accuracy }}</p> -->
        <table>
            <thead>
                <tr>
                    <th>Count</th>
                    <th>Question</th>
                </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                <tr>
                    <td>{{ question.selected_count }}</td>
                    <td>{{ question.text }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>




    <script>
        let roundOneEndTime = ""
        let roundTwoEndTime = ""
        let roundThreeEndTime = ""  
        let playerId = "{{ player.id }}"
        polling = () => {
            console.log("polling")
            setInterval(() => {getPlayerData()}, 1000)
            // setInterval(() => {getTimerData()}, 5000)
            setInterval(function() {timer(
                {{roundZeroEndTime}},
                {{roundOneEndTime}},
                {{roundTwoEndTime}},
                {{roundThreeEndTime}}                
                )}, 1000)        }
                
        // getTimerData = () => {
        //     const url = "/checkPlayerScreen/null"
        //     fetch(url)
        //         .then(response => response.json())
        //         .then(data => {
        //             console.log(data["roundThreeEndTime"])
        //             roundOneEndTime = data["roundOneEndTime"]
        //             roundTwoEndTime = data["roundTwoEndTime"]
        //             roundThreeEndTime = data["roundThreeEndTime"]
        //             console.log("data",roundOneEndTime,roundTwoEndTime,roundThreeEndTime)
        //             timer()                    
        //         })
        // }
        // countSelected = () => {
        //     console.log("countSelected")
        //     var xhttp = new XMLHttpRequest()
        //     xhttp.open("GET", "/countSelected", true)
        //     xhttp.send()
        // }
        // countSelected2 = () => {
        //     fetch('/countSelected2')
        //         .then(response => response.text())
        //         .then(data => console.log(data))
        // }
        // clearCountSelected = () => {
        //     console.log("clear countSelected")
        //     var xhttp = new XMLHttpRequest()
        //     xhttp.open("GET", "/clearCountSelected", true)
        //     xhttp.send()            
        // }
        // sendMessage = (recip) => {
        //     console.log(recip)
        //     var xhttp = new XMLHttpRequest()
        //     xhttp.open("GET", "/sendMessage?recip=" + recip, true)
        //     xhttp.send()
        // }
        // startTimer = () => {
        //     var xhttp = new XMLHttpRequest()
        //     xhttp.open("GET", "/setTimerEnd", true)
        //     xhttp.send()
        // }

        // deleteAllPlayerMessages = () => {
        //     var xhttp = new XMLHttpRequest()
        //     xhttp.open("GET", "/deleteAllPlayerMessages", true)
        //     xhttp.send()
        // }
        // getMessages = () => {
        //     console.log("getMessages")
        //     let messages = ""
        //     const url = "/getMessages"
        //     fetch(url)
        //         .then(response => response.json())
        //         .then(data => messages = data)
        //         .then(html => {
        //             console.log(html, messages)
                    
        //             for (let key in html){
        //                 let value = html[key]
        //                 document.getElementById('AJ').innerHTML = value

        //             }

                    
        //         })
        // }
        setScreen = (selectId) => {
            const screen = document.getElementById(selectId).value
            const id = document.getElementById(selectId).name
            const url = "/setPlayerScreen/" + id + "/" + screen
            fetch(url)
                .then(response => response.text())
                // .then(data => console.log({data}))
        }
        setOverrideScreen = (selectId) => {
            const screen = document.getElementById(selectId + "-override").value
            const id = document.getElementById(selectId).name
            const url = "/setOverrideScreen/" + id + "/" + screen
            console.log("override", screen, id, url)
            
            fetch(url)            
        }
        setPlayerRole = (selectId) => {
            const role = document.getElementById(selectId + "-role").value
            console.log("setPlayerRole", selectId, role)
            const url = "/setPlayerRole/" + selectId + "/" + role
            fetch(url)
        }
        getPlayerData = () => {
            const url = "/getPlayerData"
            fetch(url)
                .then(response => response.text())
                .then(data => {
                    let current = document.getElementById("playerData").innerHTML
                    if(current != data) {
                        document.getElementById("playerData").innerHTML = data
                    } else {
                        console.log("same data, no action")
                    }

                })
        }
        document.onload(polling())

    </script>
</body>
</html>