<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>
    <div style="border:1px solid black;">

        <h1>Dashboard</h1>
        <div>
            <form action="/roundLengthSet" method="Post">
                {% csrf_token %}
                <label for="roundLength">Round Length</label>
                <input id="roundLength" name="roundLength" type="text">
                <input type="submit" value="submit">
            </form>
            <div>
                Round Length: {{ roundLength }}
            </div>
        </div>

        <button onclick="startGame()">Start Game</button>
        <button onclick="sendMessage('All')">Message all users</button>
        <button onclick="deleteAllPlayerMessages()">Delete all messages</button>
        <p>Mafia</p>
        <button onclick="sendMessage('Mafia')">Message all Mafia</button>
        <table>
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Nickname</th>
                    <th>Role</th>
                    <!-- <th>Kill</th> -->
                    <th>Send</th>
                    <th>Messages</th>
                    <th>Active Screen</th>
                </tr>
            </thead>
            <tbody>
                {% for player in mafia %}
                <tr>
                    <td>
                        <a href="/{{ player.name }}/bulletin">
                            {{ player.name }}</td>
                        </a>
                    <td>{{ player.nickname }}</td>
                    <td>{{ player.role }}</td>
                    <!-- <td><button>Kill</button></td> -->
                    <td><button onclick="sendMessage('{{ player.name }}')">Message</button></td>
                    <td>
                        <ul>
                            {% for message in player.playermessages_set.all %}
                            <li>{{ message.text }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        {{ player.active_screen }}
                        <button onclick="setScreen('{{ player.name }}', 'wait_screen')">Wait</button>
                        <button onclick="setScreen('{{ player.name }}', 'death_alert')">Death</button>
                        <button onclick="setScreen('{{ player.name }}', 'informant')">Informant</button>
                        <button onclick="setScreen('{{ player.name }}', 'mafia')">Mafia</button>
                        <button onclick="setScreen('{{ player.name }}', 'tip_received_mafia')">Mafia Tipped</button>
                        <button onclick="setScreen('{{ player.name }}', 'tip_received_townpeople')">Tip</button>
                        <button onclick="setScreen('{{ player.name }}', 'theres_a_rat')">Rat</button>                   
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>Townnpeople</p>
        <button onclick="sendMessage('Townpeople')">Message all Townpeople</button>
        <table>
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Nickname</th>
                    <th>Informant</th>
                    <th>Send</th>
                    <th>Message</th>
                    <th>Active Screen</th>
                </tr>
            </thead>
            <tbody>
                {% for player in townpeople %}
                <tr>
                    <td>
                        <a href="/{{ player.name }}/bulletin">
                            {{ player.name }}</td>
                        </a>
                    </td>
                    <td>{{ player.nickname }}</td>
                    <td>{% if player.informant %}
                        <button>Kill</button>
                        {% endif %}
                    </td>
                    <td><button onclick="sendMessage('{{ player.name }}')">Message</button></td>
                    <td>
                        <ul>
                            {% for message in player.playermessages_set.all %}
                            <li>{{ message.text }}</li>
                            {% endfor %}
                        </ul>
                    </td>       
                    <td>
                        {{ player.active_screen }}
                        <button onclick="setScreen('{{ player.name }}', 'wait_screen')">Wait</button>
                        <button onclick="setScreen('{{ player.name }}', 'death_alert')">Death</button>
                        <button onclick="setScreen('{{ player.name }}', 'informant')">Informant</button>
                        <button onclick="setScreen('{{ player.name }}', 'mafia')">Mafia</button>
                        <button onclick="setScreen('{{ player.name }}', 'tip_received_mafia')">Mafia Tipped</button>
                        <button onclick="setScreen('{{ player.name }}', 'tip_received_townpeople')">Tip</button>                    
                    </td>        
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
    </div>
    <div style="border:1px solid black;">
        <h1>Questions v2</h1>
    </div>
    <div style="border:1px solid black;">
        <h1>Questions v1</h1>
        <button onclick="countSelected()">Count answers</button>
        <button onclick="clearCountSelected()">Clear count answers</button>
        <p>Low accuracy question: {{ low_accuracy }}</p>
        <p>High accuracy question: {{ high_accuracy }}</p>
        <table>
            <thead>
                <tr>
                    <th>Count</th>
                    <th>Question</th>
                </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                <tr>
                    <td>{{ question.selected_count }}</td>
                    <td>{{ question.text }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>




    <script>
        polling = () => {
            // setInterval(() => {getMessages()}, 5000)
        }
        countSelected = () => {
            console.log("countSelected")
            var xhttp = new XMLHttpRequest()
            xhttp.open("GET", "/countSelected", true)
            xhttp.send()
        }
        clearCountSelected = () => {
            console.log("clear countSelected")
            var xhttp = new XMLHttpRequest()
            xhttp.open("GET", "/clearCountSelected", true)
            xhttp.send()            
        }
        sendMessage = (recip) => {
            console.log(recip)
            var xhttp = new XMLHttpRequest()
            xhttp.open("GET", "/sendMessage?recip=" + recip, true)
            xhttp.send()
        }
        startGame = () => {
            var xhttp = new XMLHttpRequest()
            xhttp.open("GET", "/setTimerEnd", true)
            xhttp.send()
        }
        deleteAllPlayerMessages = () => {
            var xhttp = new XMLHttpRequest()
            xhttp.open("GET", "/deleteAllPlayerMessages", true)
            xhttp.send()
        }
        getMessages = () => {
            console.log("getMessages")
            let messages = ""
            const url = "/getMessages"
            fetch(url)
                .then(response => response.json())
                .then(data => messages = data)
                .then(html => {
                    console.log(html, messages)
                    
                    for (let key in html){
                        let value = html[key]
                        document.getElementById('AJ').innerHTML = value

                    }

                    
                })
        }
        setScreen = (player, screen) => {
            const url = "/setPlayerScreen/" + player + "/" + screen
            fetch(url)
                .then(response => response.text())
                .then(data => console.log({data}))
        }
        document.onload(polling())
    </script>
</body>
</html>