{% extends 'base_newspaper.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">

      <!-- Header -->
 
    <header class="masthead">
        <div class="container">
        <div class="intro-text">
            <div class="intro-heading text-uppercase">A murderer walks in...</div>
        </div>
        </div>
    </header>

    <!-- Services -->
    <section class="page-section" id="services">
        <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
            <h2 style="color:black;" class="section-heading text-uppercase">Survey</h2>
            <!-- <h3 class="section-subheading text-muted">Fill out the survey.</h3> -->
            </div>
        </div>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-lg-12">

            <form action="/survey_save" method="post">
                {% csrf_token %}

                <ol style="color:black;">
                {% for question in questions %}
                    <li><p><input type="checkbox" name="survey" value="{{ question.id }}"> {{ question.text|safe }}</p></li>
                {% endfor %}
                </ol>

                <p id="error" class="text-danger" style="display:none">* Please enter your name.</p> 
                <!-- TODO: ADD VALIDATION -->
                <p><input id="txt_name" type="text" name="name" placeholder="Name" /></p>
                <!-- <p><button id="submit" value="Submit" type="submit">Submit</button></p>        button -->
                <input type="submit" value="Submit" style="background-color:white; color:black;">

                {% if not game_is_started %}
                <!-- <p><button id="submit" type="submit">Submit</button></p>        button -->
                {% elif game_is_started %}
                <!-- <p style="color:black"> Signup closed. Game has already started.</p> -->
                {% endif %}
            </form>

            </div>
        </div>
        </div>
    </section>

</div>
{% endblock %}