<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Timer</h1>
    <div>
        <form action="/roundLengthSet" method="Post">
            {% csrf_token %}
            <label for="roundLength">Round Length</label>
            <input id="roundLength" name="roundLength" type="text">
            <input type="submit" value="submit">
        </form>

    </div>
    <div>
        <button onclick="startTimer()">Start Game</button>
    </div>
    <div>
        Round Length: {{ roundLength }}
    </div>
    <div>
        Game Over: {{ gameOver }}
    </div>
    <div>
        Timer: <div id="timer"></div>
    </div>
</body>

<script>
    function getTime() {
        console.log("getTime", Date.now())
    }
    function timer() {
        // ajax call to save timer end time

        console.log('startTimer running')
        var endTime = new Date(163193909288)
        endTime = (Date.parse(endTime) / 1000)
        var now = new Date()
        now = (Date.parse(now) / 1000)
        var timeLeft = now - endTime
        document.getElementById('timer').innerHTML = timeLeft
        
    }
    function startTimer() {
        setInterval(function() {timer()},1000)
    }
</script>
</html>