{% extends 'base_newspaper.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">

    <section id="three" class="no-padding" style="border: 10px solid clear">
        <div class="container-fluid">
            <div class="row no-gutter">

                <p class="animated__words text-center" style="color:black; font-size:30px;">YOU ARE A DETECTIVE</p>

                <!-- <h1 class="animated__word_youAre text-center" style="color:orange">YOU ARE</h1> -->
                <!-- <img src="{% static "img/police.jpg" %}" max width="100%" class="text-center"/> -->
                <!-- <h1 class="animated__word_a text-center" style="color:orange">A</h1> -->
                <img src="{% static "img/male_detective.jpg" %}" max width="100%" class="text-center"/>
                <!-- <h1 class="animated__word_detective text-center" style="color:orange">DETECTIVE</h1> -->
                <!-- <img src="{% static "img/women_detectives.jpg" %}" max width="100%" class="text-center"/> -->

            <!-- <ul class="image-cycle" 
                    data-target="li" 
                    data-interval="2500" 
                    data-width="90%" 
                    data-speed="1000">
                <li class="active" ><img src="{% static "img/police.jpg" %}"/></li>
                <li><img src="{% static "img/male_detective.jpg" %}" /></li>
                <li><img src="{% static "img/women_detectives.jpg" %}" /></li>
                <br>
                <br>
            </ul> -->

            <!-- <div style="background-color:#000000; height:7px; width:100%;"></div> -->

            </div>
        </div>
    </section>

    <section class="container-fluid" id="four">
        <div class="row">

            <br>

            <div class="media wow fadeInRight">
                <div class="media-body media-middle">
                    <p style="color:black">Today was supposed to be a good day. You are finally making some inroads on
                    organized crime and you're here celebrating your mentors retirement.</p>
                    <p style="color:black">Now you just heard over the police radio that someone put two shots in your informant's head.
                    olice on the scene believe the perpetrator fled on foot and could be hiding at this very party.</p>
                </div>
            </div>
           
            <!-- <div style="background-color:#000000; height:2px; width:100%;"></div> -->

            <!-- <div class="media wow fadeInRight">
                <div class="media-body media-middle">
                    <p style="color:black">Now you just heard over the police radio that someone put two shots in your informant's head.
                    Police on the scene believe the perpetrator fled on foot and could be hiding at this very party.</p>
                </div>
            </div> -->
           
            <div style="background-color:#000000; height:2px; width:100%;"></div>

            <div class="media wow fadeIn">
                <div class="media-body media-middle">
                    <p style="color:black">%%INCLUDE_TIP%% (e.g. "Early analysis of the scene makes police believe the suspect likes to travel.")</p>
                    <p style="color:black">tip_on_mafia_one</p>
                    {{ tip_on_mafia_one }}
                </div>
                <div class="media-right">
                    <i class="icon-lg ion-ios-snowy"></i>
                </div>
            </div>
           
            <div style="background-color:#000000; height:2px; width:100%;"></div>

            <div class="media wow fadeIn">
                <div class="media-body media-middle">
                    <p style="color:black">While your informant's death is tragic, your mind is bothered by something else.</p>
                </div>
            </div>
            
            <div style="background-color:#000000; height:2px; width:100%;"></div>

            <div class="media wow fadeInRight">
                <div class="media-body media-middle">
                    <p style="color:black">"There's no way anyone could have found out he was my informant. Not this fast."</p>
                </div>
            </div>
           
            <div style="background-color:#000000; height:2px; width:100%;"></div>

            <div class="media wow fadeIn"> 
                <div class="media-body media-middle">
                    <p style="color:black">Find the murderer. Trust no one.</p>
                </div>
            </div>
            
            <div style="background-color:#000000; height:2px; width:100%;"></div>

            <div class="media wow fadeInRight">
                <div class="media-body media-middle">
                    <p style="color:black">*** Show them what eveyrone else sees ***</p>
                </div>
            </div>
        
        </div>
    </section>
   
    <script>
    
        // global variables
    
        // Page load
        document.addEventListener("DOMContentLoaded", () => {
    
            // LettersRandomPlaces({
            // element: ".animated__word_youAre",
            // })
    
            // LettersRandomPlaces({
            // element: ".animated__word_a",
            // })

            // LettersRandomPlaces({
            // element: ".animated__word_detective",
            // })

            // LettersRandomPlaces({
            // element: ".animated__words",
            // })

            // var ex1 = new Cycle('.image-cycle');
    
        }); // page load closing
    
        // Our functions
    
        LettersRandomPlaces({
            element: ".animated__text",
    
            // delay in ms
            start_delay_time: 1000,
    
            // or 'random'
            delay_type: "sequential",
    
            // duration of the animation
            animation_duration: 5000,
    
            // type: number
            force: 200,
    
            // direction
            direction: ['x', 'y'],
    
            // scale text randomly
            random_scale: false,
    
            // -1 for random
            rotate: -1,
        })
        
    </script>

</div>

{% endblock %}
