{% extends 'base_newspaper.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <!-- Heading + Image -->
    <div class="row no-gutter">
        <p class="garamond blocktext" style="font-size:25px;">YOU ARE THE DETECTIVE</p>
        <img src="{% static "img/male_dete_7.jpg" %}" max width="100%" class="text-center"/>
    </div>
    <br>

    <!-- Instructions + Text -->
    <div class="garamond">

        <p>This week was horsefeathers!
          <!-- Shall we count the ways? -->
        </p>


        <p>You get your first informant <em>*BAM*</em>... someone fills them full of lead.</p>
        <p>Tonight, you make your world famous flapjacks <em>*BAM*</em>... someone gets knocked off.
          Back to work.
          </p>
        <!-- <p>Now you have to work on your night off. No overtime.</p> -->

        <p>But this will all be worth it, if you can just get one thing right tonight...</p>
<!--
        <p>Now you just found out that someone put two shots in your informant's head.
        What's worst, police on-site have reason to believe the perpetrator is
        hiding in this very party, ruining your night off.</p> -->

        <!-- <div style="background-color:#000000; height:1px; width:100%;"></div>

        <hr>
        <p>%%INCLUDE_TIP%% (e.g. "Early analysis of the scene makes police believe the suspect likes to travel.")</p>
        <p>tip_on_mafia_one: {{ tip_on_mafia }}</p> -->

        <!-- <div style="background-color:#000000; height:1px; width:100%;"></div>

        <hr>
        <p>While your informant's death is tragic, your mind is bothered by something else.
        "There's no way anyone could have found out he was my informant. Not this fast."</p>
        <p class="blocktext" style="font-size:15px;">Find the murderer. Trust no one.</p> -->

        <!-- TODO added below <br> to remove white space from webpage | need to update background image -->
        <br>
        <br>

    </div>

</div>
{% endblock %}
