{% load static %}
{% include "screens/timer.html" %}

<h2>You are the murderer</h2>

<p class=''><img src="{% static "img/scorpion.jpg" %}"  /></p>
<p>You are the murderer known as "{{ nickname }}".
  You are a part of the criminal organization called Scorpio.</p>
<p>An hour ago, you and {{ mafia_count_text }} ran a hit and murdered an informant.
  Due to bad luck, a police car blocked your escape route, so you hid in
  this large group of people. Little did you know, it's a party of off-duty detectives.</p>

<p>Soon everyone is going to vote on who to deliver to the police. Right now the group thinks there's only one murderer.
  Convince everyone you and your friends are innocent.</p>

<p>Scorpio member(s):</p>
{% for m in other_mafia %}
{{ m.name }}
{% endfor %}
