{% extends 'base_mafia.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <!-- Heading + Image -->
    <div class="row no-gutter">
        <h1 class="blocktext nerko">YOU ARE SCORPIO</h1>
        <img src="{% static "img/mafia_one2.jpg" %}" max width="100%" class="text-center"/>
    </div>

    <br>

    <!-- Instructions + Text -->
    <div class="walter">
      <p>The media thinks Scorpio is one person, but Scorpio is really a criminal organization.
        In the criminal underworld, you are known as "{{ nickname }}".  </p>
      <!-- <p>Soon everyone is going to vote on who to
        deliver to the police. </p> -->
      <p>As long as nobody knows your identity, you are safe.</p>
      <hr />

      <p><em>MISSION:</em> Convince everyone you and your friends are innocent.</p>

      <p>SCORPIO MEMBERS: <br />
        {{ other_mafia_display|safe }}</p>
<!--
        <p>You are the murderer known as "{{ nickname }}".
        You are a part of the criminal organization called <strong>Scorpio</strong>.</p>

        <p>An hour ago, you and {{ mafia_count_text }} others murdered the
        dirty rat informant Jimmy Two-Lips. After shooting Jimmy, you got
        really bad stomach pain and had to spend 15 minutes in the bathroom.
        By the time you left, a police car blocked your escape.</p>

        <p>Good thing you had the bright idea of hiding in
        this party. Unfortunately, it was a party of off-duty detectives.</p>

        <p>Soon everyone is going to vote on who to deliver to the police. Right now the group
        thinks there's only one murderer. Convince everyone you and your friends are innocent.</p>

        <div style="background-color:#000000; height:1px; width:100%;"></div>

        <p>Scorpio member(s): {{ other_mafia_display }}</p> -->

    </div>

</div>
{% endblock %}
