{% load static %}

<h2>Death alert</h2>

<p class=''><img src="{% static "img/death.png" %}"  /></p>

<p>Please make this public announcement:</p>

<p>It is with a heavy heart that I must announce the passing of one of our dear friends.
  Arlene Rangel was found dead moments ago behind the alleyway trash cans.</p>

<p>At the moment, we do not have any suspects. #JusticeForArlene</p>


<p>*** MAFIA DEAD VERSION ***</p>

<p>Ladies and gentlemen, we did it. A few minutes ago, we found evidence that
  Arlene Rangel was the murderer.  When we confronted her, the situation quickly
  escalated into a shoot-out. Justice deserved.</p>
