{% extends 'base_newspaper.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <!-- Heading + Image -->
    <div class="row no-gutter">
        <p class="garamond blocktext" style="font-size:30px;">A TRAGIC EVENT</p>
        <img src="{% static "img/death_7.jpg" %}" max width="100%" class="text-center"/>
    </div>

    <!-- Instructions + Text -->
    <div class="garamond">
        <p>Please
        tell the moderator you would like to read the following announcement.</p>
        <hr />

        <h5>* SPEAK LOUDLY *</H5>

        <p>{{ death_message|safe }}</p>

        <!-- <div style="background-color:#000000; height:1px; width:100%;"></div> -->
        <hr />


        <a href="/clearDeathScreen/{{ player_id }}/{{ death_player.id }}" class="button-white">Return to game</a>

    </div>

</div>
{% endblock %}
