{% extends 'base_new.html' %}
{% load static %}

{% block content %}

    <section id="three" class="no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">

                <br>
                <br>
            
                <h1 class="animated__word text-center" style="color: red">Death Alert</h1>
                <img src="{% static "img/death_butterflies.jpg" %}" max width="100%" class="text-center"/>

                <br>
                <br>
                
                <h4 class="animated__word_detective text-center" style="color:rgb(82, 82, 82)">Please make this public announcement:</h4>

            </div>
        </div>
    </section>

    <section class="container-fluid" id="four">
        <div class="row">
                <div class="media wow fadeInRight">
                    <div class="media-body media-middle">
                        <p style="color:white">It is with a heavy heart that I must announce the passing of one of our dear friends.
                        Arlene Rangel was found dead moments ago behind the alleyway trash cans.</p>
                    </div>
                </div>
                <hr>
                <div class="media wow fadeInRight">
                    <div class="media-body media-middle">
                        <p style="color:white">At the moment, we do not have any suspects. #JusticeForArlene</p>
                    </div>
                </div>
                <hr>

                <p>*** MAFIA DEAD VERSION ***</p>

                <div class="media wow fadeIn">
                    <div class="media-body media-middle">
                        <p style="color:white">Ladies and gentlemen, we did it. A few minutes ago, we found evidence that
                            Arlene Rangel was the murderer.  When we confronted her, the situation quickly
                            escalated into a shoot-out. Justice deserved.</p>
                    </div>
                    <div class="media-right">
                        <i class="icon-lg ion-ios-snowy"></i>
                    </div>
                </div>
                <hr>
        </div>
    </section>

<script>

    // global variables

    // Page load
    document.addEventListener("DOMContentLoaded", () => {

        LettersRandomPlaces({
        element: ".animated__word",
        })

        LettersRandomPlaces({
        element: ".animated__word_a",
        })

    }); // page load closing

    // Our functions

    LettersRandomPlaces({
        element: ".animated__text",

        // delay in ms
        start_delay_time: 1000,

        // or 'random'
        delay_type: "sequential",

        // duration of the animation
        animation_duration: 5000,

        // type: number
        force: 200,

        // direction
        direction: ['x', 'y'],

        // scale text randomly
        random_scale: false,

        // -1 for random
        rotate: -1,
    })
    
</script>
  

</body>
</html>


{% endblock %}
