{% extends 'base_newspaper.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <!-- Heading + Image -->
    <div class="row no-gutter">
        <p class="blocktext garamond" style="font-size:30px;">A CLUE APPEARS</p>
        <img src="{% static "img/informant22.jpg" %}" max width="100%" class="text-center"/>
    </div>

    <!-- Instructions + Text -->
    <div class="row">

        <hr>
        <p>Someone sent you an anonymous package, but you can't make sense of it.
        You were never good at analysis because you
        cheated your way through the academy.
        You need the help of another detective.</p>

        <p>Who do you trust?</p>

        <div style="background-color:#000000; height:1px; width:100%;"></div>

        <hr>

        <p><em>GOAL:</em>Create a list of detectives you trust before the timer ends. 
        The bigger the list, the juicier the tip.</p>
        
        <p><em>GOAL:</em> Send the clue to a person you trust before the timer ends. Be careful,
        if you send the clue to the murderer, they may kill you.</p>
        
        <p><em>WARNING:</em> The murderer is already tracking the package, which means...</p>
        <p class="blocktext" style="font-size:15px;">THEY ARE LOOKING FOR YOU.</p>
        
        <p>Keep your objective secret. Trust no one.
        If they find you, you and your clue are gone, forever.</p>
    
        <div style="background-color:#000000; height:1px; width:100%;"></div>

        <hr>
        <p>The good news is they don't know who you are exactly yet.
        So don’t disclose your role as the informant to anyone or they will find out</p>
        <p class="blocktext" style="font-size:15px;">TRUST NO ONE</p>

        <div style="background-color:#000000; height:1px; width:100%;"></div>

        <form action="/submitSafePerson/{{ player_id }}" method="POST">
            {% csrf_token %}
            <ul>
              {% for p in other_players %}
              <li style="list-style-type: none; color: black">
                <input type="radio" name="players" value="{{ p.id }}">
                {{ p.name }}
    
              </li>
              {% endfor %}
            </ul>
            <input type="submit" value="Submit" style="background-color:white; color:black;">
        </form>
    
    </div>

    <script>

        let playerId = "{{ player.id }}"
        let safeList = []
        addToSafeList = (id) => {
            console.log("add to safelist", id)
            let button = document.getElementById("button-" + id)
            if(safeList.includes(id)){
                console.log("already in list, remove")
                let index = safeList.indexOf(id)
                safeList.splice(index, 1)
                button.style.backgroundColor = ""
            } else {
                console.log("not in list, add")
                button.style.backgroundColor = "red"
                safeList.push(id)
            }
            // document.getElementById("divList").innerText = safeList
        }
        submitSafeList = () => {
            console.log("submitSafeList2", playerId, safeList)
            const url = "/submitSafeList2/" + playerId + "/" + safeList.toString()
            fetch(url)
        }
    
    </script>

</div>
{% endblock %}