{% extends 'base_newspaper.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <!-- Heading + Image -->
    <div class="row no-gutter">
        <p class="blocktext garamond" style="font-size:30px;">TIP SUBMITTED</p>
        <img src="{% static "img/tip_sent22.jpg" %}" max width="100%" class="text-center"/>
    </div>
    <br>

    <!-- Instructions + Text -->
    <div class="row garamond">

        <br>
        <p>Your tip has been submitted. 
        If you are right, a hint may be announced shortly. If not, it'll be your death. Good luck</p>

        <br>
        <a href="/clearOverrideScreen/{{ player_id }}">
            <button class="button-white">Return to game</button>
        </a>

        <!-- TODO added below <br> to remove white space from webpage | need to update background image -->
        <br>
        <br>
        <br>
        <br>

    </div>

</div>
{% endblock %}