{% extends 'base_newspaper.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">

    <!-- Heading + Image -->
    <div class="row no-gutter">
        <p class="garamond blocktext" style="font-size:30px;">THE SECRET MISSION</p>
        <img src="{% static "img/informant22.jpg" %}" max width="100%" class="text-center"/>
    </div>

    <br>

    <!-- Instructions + Text -->
    <div class="garamond">

        <hr>

<!--
THE CRIMINAL SCORPIO STRIKES again


Learn the idnetity of the master criminal Scorpio.

Scorpio is not a person, but an organization. They have infiltrated the highest echelon of society, including the
police force. Beware, we have reason to believe they have not only infiltrated the police, but are here among us today.








It was all a big mistake.
 I didn’t know the evidence I stole would be critical in the case in finding Scorpio.


—
Mission: Return the evidence to a trustworthy detective to reveal a clue about the identity of Scorpio. Keep your identity secret to everyone, including the detective, so that you don’t get in trouble for stealing evidence.

Warning: Be careful. Scorpio knows who you are and will try to gain your trust because they know you are trying to return the evidence. Choose poorly and it could cost you your life.

 -->








        <p><em>Okay, I did it....</em></p>

        <p> I was the one who stole evidence from the police locker.
          Prohibition times are tough and this was top shelf moonshine. </p>
          <p>I didn't know
          it was going to be evidence that revealed Scorpio's identity!</p>
        <!-- <p>I know it sounds bad,
          but we handle so much evidence, most of it goes into the trash anyways.
          Plus, how was I
          supposed to know the Blind Pig bar was in cahoots with Scorpio.</p> -->

        <!-- <p>Now, I have to secretly return the evidence or I get the boot. </p> -->

<!--
        <p>Someone sent you an anonymous package, but you can't make sense of it.
        You were never good at analysis because you
        cheated your way through the academy.
        You need the help of another detective.</p> -->

        <!-- <p>Who do you trust?</p> -->

        <div style="background-color:#000000; height:1px; width:100%;"></div>

        <!-- <p><em>GOAL:</em>Create a list of detectives you trust before the timer ends.
        The bigger the list, the juicier the tip.</p> -->

        <p><em>MISSION:</em> Send the stolen evidence to a detective you trust before time runs out.
          If you succeed, a police report will reveal critical information about Scorpio. </p>

        <p><em>WARNING:</em> Scorpio knows about your secret mission. They have strict orders to retrieve
          the evidence by sweet talking you. </p>
        <p>Send the package to the wrong person and it will be your end.</p>

        <p><em>RULE:</em> Do not disclose this mission to anyone, including the detective you trust.</p>

        <p class="rajdhani" style="font-size: 50px; text-align:center">
             <span id="timer"></span></p>


        <!-- <p><em>MISSION:</em> Return the evidence back into a detective's hands before time runs out. Don't let them
          know that it was you who returned the evidence. Be careful!


          Send the package to a detective you trust before time runs out. If you succeed,
        the recovered evidence will reveal important information about the criminal.</p>

        <p><em>WARNING:</em> The murderer knows who you are. They know your secret mission.
          They may try to convince you they are trustworthy. If you put your trust in the wrong person,
          you will be killed.
        </p> -->
        <!-- <p class="blocktext" style="font-size:15px;">THEY ARE LOOKING FOR YOU.</p> -->

        <!-- <p><em>Keep your objective a secret. Trust no one.</em></p> -->

        <!-- <div style="background-color:#000000; height:1px; width:100%;"></div>

        <hr>
        <p>The good news is they don't know who you are exactly yet.
        So don’t disclose your role as the informant to anyone or they will find out</p>
        <p class="blocktext" style="font-size:15px;">TRUST NO ONE</p> -->

        <div style="background-color:#000000; height:1px; width:100%;"></div>

        <form action="/submitSafePerson/{{ player_id }}" method="POST">
            {% csrf_token %}
            {% for p in other_players %}
              <!-- <li style="list-style-type: none; color: black"> -->
                <!-- <input type="radio" name="players" value="{{ p.id }}">
                {{ p.name }} -->
              <!-- </li> -->

                <div class='radio-group'>
                    <label class='radio-label'>
                        <input name='players' type='radio' checked='checked' value="{{ p.id }}">
                        <span class='inner-label'>{{ p.name }}</span>
                    </label>
                </div>

            {% endfor %}

            <input type="submit" value="Send evidence" style="background-color:white; color:black;">
        </form>

    </div>
</div>

    <script>

        let playerId = "{{ player.id }}"
        let safeList = []
        addToSafeList = (id) => {
            console.log("add to safelist", id)
            let button = document.getElementById("button-" + id)
            if(safeList.includes(id)){
                console.log("already in list, remove")
                let index = safeList.indexOf(id)
                safeList.splice(index, 1)
                button.style.backgroundColor = ""
            } else {
                console.log("not in list, add")
                button.style.backgroundColor = "red"
                safeList.push(id)
            }
            // document.getElementById("divList").innerText = safeList
        }
        submitSafeList = () => {
            console.log("submitSafeList2", playerId, safeList)
            const url = "/submitSafeList2/" + playerId + "/" + safeList.toString()
            fetch(url)
        }

    </script>


{% endblock %}
