{% extends 'base_newspaper.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">

    <section id="three" class="no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">
                <br>
                <img src="{% static "img/tip_sent.jpg" %}" max width="100%" class="text-center"/>
                <br>
            </div>
        </div>
    </section>

    <section class="container-fluid" id="four">
        <div class="row">

            <hr>
            
            <div class="media wow fadeInRight">
                <div class="media-body media-middle">
                    <p class="animated__word text-center" style="color:black">Your tip has been submitted. 
                    If you are right, a hint may be announced shortly. If not, it'll be your death. Good luck.</p>
                        <a href="/clearOverrideScreen/{{ player_id }}">
                            <button>Return to game</button>
                        </a>
                
                </div>
            </div>
                    
        </div>
    </section>

    <script>
    
        // global variables
    
        // Page load
        document.addEventListener("DOMContentLoaded", () => {
    
            // LettersRandomPlaces({
            // element: ".animated__word",
            // })
    
        }); // page load closing
    
        // Our functions
    
        LettersRandomPlaces({
            element: ".animated__text",
    
            // delay in ms
            start_delay_time: 1000,
    
            // or 'random'
            delay_type: "sequential",
    
            // duration of the animation
            animation_duration: 5000,
    
            // type: number
            force: 200,
    
            // direction
            direction: ['x', 'y'],
    
            // scale text randomly
            random_scale: false,
    
            // -1 for random
            rotate: -1,
        })
    
    </script>
    
</div> 

{% endblock %}