{% extends 'base_newspaper.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <!-- Heading + Image -->
    <div class="row no-gutter">
        <h1 class="blocktext garamond">TIME IS UP</h1>
        <img src="{% static "img/clockold22.jpg" %}" max width="100%" class="text-center"/>
    </div>

    <!-- Instructions + Text -->
    <div class="garamond">

        <hr>
        <p>The police need us to deliver the guilty party. Gather up your notes and vote on the 
        guilty party. To defeat the mafia, you must find them all.</p>

        <!-- TODO added below <br> to remove white space from webpage | need to update background image -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    
    </div>

</div>
{% endblock %}