{% extends 'base_newspaper.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <!-- Heading + Image -->
    <div class="row no-gutter">
        <p class="blocktext garamond" style="font-size:30px;">ANNOUNCEMENT</p>
        <img src="{% static "img/announcement22.jpg" %}" max width="100%" class="text-center"/>
    </div>

    <!-- Instructions + Text -->
    <div class="row">

        <br>
        <p class="blocktext" style="font-size:15px;">Please stand by for an important public announcement.</p>

    </div>

</div>
{% endblock %}