{% extends 'base_newspaper.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <!-- Heading + Image -->
    <div class="row no-gutter">
        <p class="blocktext garamond" style="font-size:30px;">ANNOUNCEMENT</p>
        <img src="{% static "img/announcement22.jpg" %}" max width="100%" class="text-center"/>
    </div>
    <br>

    <!-- Instructions + Text -->
    <div class="garamond">

        <hr>
        <p>Please stand by for an important public announcement.</p>

        <!-- TODO added below <br> to remove white space from webpage | need to update background image -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    
    </div>

</div>
{% endblock %}