{% extends 'base_mafia.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">

    <!-- Heading + Image -->
    <div class="row no-gutter">
        <p class="blocktext nerko" style="font-size:30px;">SECRET MISSION #1</p>
        <!-- <p class="blocktect nerko" style="font-size:30px;">SMELLS LIKE A RAT</p> -->
        <!-- <img src="{% static "img/whisper22.jpg" %}" max width="100%" class="text-center"/> -->

        <!-- <p class="blocktect nerko" style="font-size:30px;">INFORMANT DETECTIVE #2</p>
        <p class="blocktect nerko" style="font-size:30px;">SMELLS LIKE A RAT</p> -->

        <img src="{% static "img/findone22.jpg" %}" max width="100%" class="text-center"/>

        <!-- <p class="blocktect nerko" style="font-size:30px;">INFORMANT DETECTIVE #3</p>
        <p class="blocktect nerko" style="font-size:30px;">SMELLS LIKE A RAT</p> -->

        <!-- <img src="{% static "img/travel22.jpg" %}" max width="100%" class="text-center"/> -->

    </div>

    <br>

    <!-- Instructions + Text -->
    <div class="walter">

        <hr>

        <!-- <p>Who would have thouxght? </p> -->
        
        <p><em>You thought you were a goner.</em> </p>
        <p>The police had
          evidence you were behind the Galway murders. So you hired someone to steal
          the evidence for you, only to find out a detective already stole it.

          <!-- They were looking to get drunk. -->
          <!-- Some meatheads must have thought they were just stealing a brick of weed. -->
        </p>
        <p>Now the detectives want to return it.</p>
        <!-- <p>Now they know the evidence is important.
          They are looking for a trustworthy detective to return
          the evidence for them. </p>
        <p>This is your chance!</p> -->

        <div style="background-color:#000000; height:1px; width:100%;"></div>
        <br>

        <p><em>GOAL:</em> The detectives below are looking for someone to trust
           <!-- pass the evidence
          to another detective. The good news is they don't want anyone to know
          (lest they get fired for stealing evidence) and they have to do it -->
          before time runs out.
          Pretend you are a detective and
          sweet talk them into giving the evidence back to you. </p>
            <div>
              <span>Informants: {{ informant_list }}  </span>
            </div>

            <br>
            <div style="background-color:#000000; height:1px; width:100%;"></div>
            <br>

            <div>
              <p>Scorpio members: {{ other_mafia_display }}</p>
            </div>

        <!-- <div style="background-color:#000000; height:2px; width:100%;"></div> -->

        <br>

  

    </div>

</div>
{% endblock %}
