{% extends 'base_mafia.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">

    <!-- Heading + Image -->
    <div class=" no-gutter">
        <p class="blocktext nerko" style="font-size:20px;">THE SECRET TARGETS:</p>
        <p class="blocktext nerko" style="font-size:30px;">{{ informant_list }}</p>
        <!-- <h3>{{ informant_list }}</h# -->
        <!-- <p class="blocktect nerko" style="font-size:30px;">SMELLS LIKE A RAT</p> -->
        <!-- <img src="{% static "img/whisper22.jpg" %}" max width="100%" class="text-center"/> -->

        <!-- <p class="blocktect nerko" style="font-size:30px;">INFORMANT DETECTIVE #2</p>
        <p class="blocktect nerko" style="font-size:30px;">SMELLS LIKE A RAT</p> -->

        <img src="{% static "img/findone22.jpg" %}" max width="100%" class="text-center"/>

        <!-- <p class="blocktect nerko" style="font-size:30px;">INFORMANT DETECTIVE #3</p>
        <p class="blocktect nerko" style="font-size:30px;">SMELLS LIKE A RAT</p> -->

        <!-- <img src="{% static "img/travel22.jpg" %}" max width="100%" class="text-center"/> -->

    </div>

    <br>

    <!-- Instructions + Text -->
    <div class="walter">

        <hr>

        <!-- <p>Who would have thouxght? </p> -->

        <!-- <p><em>You thought you were a goner.</em> </p> -->
        <p>A couple birdies told you some detectives are trying to return evidence to the police lockers.
          If they succeed, information will be released about you.

          <!-- They were looking to get drunk. -->
          <!-- Some meatheads must have thought they were just stealing a brick of weed. -->
        </p>
        <!-- <p>Now the detectives want to retxurn it.</p> -->
        <!-- <p>Now they know the evidence is important.
          They are looking for a trustworthy detective to return
          the evidence for them. </p>
        <p>This is your chance!</p> -->

        <div style="background-color:#000000; height:1px; width:100%;"></div>

        <p><em>MISSION:</em>  Convince the detectives that you are someone you can trust before time runs out.
          If they do, they will give the evidence to you, squashing the tip forever.
         </p>

        <p><em>TIP:</em> Don’t mention anything about this secret mission. Nobody is supposed to know about it.</p>

        <p class="rajdhani" style="font-size: 50px; text-align:center">
             <span id="timer"></span></p>

        <p><em>DETECTIVES:</em> </p>
        <h5>{{ informant_list }}</h5>
        <hr />

        <p>SCORPIO MEMBERS:<br /> {{ other_mafia_display|safe }}</p>




    </div>

</div>
{% endblock %}
