{% extends 'base_new.html' %}
{% load static %}

{% block content %}

    <section id="three" class="no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">

                <br>
                <br>

                <div class="col-lg-4 col-sm-6">
                  <img src="{% static "img/you_mafia.jpg" %}" max width="100%" class="text-center"/>
                </div>

                <br>

            </div>
        </div>
    </section>

    <section class="container-fluid" id="four">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <hr>
                <div class="media wow fadeInRight">
                    <div class="media-body media-middle">
                        <h1 class="animated__word text-center" style="color:red">You are the Mafia</h1>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </section>

    <script>

        // global variables

        // Page load
        document.addEventListener("DOMContentLoaded", () => {

            LettersRandomPlaces({
            element: ".animated__word",
            })

        }); // page load closing

        // Our functions

        LettersRandomPlaces({
            element: ".animated__text",

            // delay in ms
            start_delay_time: 1000,

            // or 'random'
            delay_type: "sequential",

            // duration of the animation
            animation_duration: 5000,

            // type: number
            force: 200,

            // direction
            direction: ['x', 'y'],

            // scale text randomly
            random_scale: false,

            // -1 for random
            rotate: -1,
        })

    </script>

{% endblock %}