{% extends 'base_newspaper.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">

    <section id="three" class="no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">
      
            <p class="animated__words text-center" style="font-size:25px; color:black">INFORMANT DETECTIVE #1</p>
            <p class="animated__words text-center" style="font-size:21px; color:black">SMELLS LIKE A RAT</p>

            <img src="{% static "img/find_one.jpg" %}" max width="100%" class="text-center"/>

            <p class="animated__words text-center" style="font-size:25px; color:black">INFORMANT DETECTIVE #2</p>
            <p class="animated__words text-center" style="font-size:21px; color:black">SMELLS LIKE A RAT</p>

            <img src="{% static "img/find_one.jpg" %}" max width="100%" class="text-center"/>

            <p class="animated__words text-center" style="font-size:25px; color:black">INFORMANT DETECTIVE #3</p>
            <p class="animated__words text-center" style="font-size:21px; color:black">SMELLS LIKE A RAT</p>

            <img src="{% static "img/find_one.jpg" %}" max width="100%" class="text-center"/>
        
            </div>
        </div>
    </section>

    <section class="container-fluid" id="four">
        <div class="row">
            <hr>
            <div class="media wow fadeInRight">
                <div class="media-body media-middle">
                    <p style="color:black; font-size:15px" class="garamond">Someone just called and told you there are missing items from the warehouse. 
                    Items that can expose you and your crew's identity.The whole thing feels like a setup. How could so many things go 
                    wrong at the same time?</p>
                </div>
            </div>
            
            <div style="background-color:#000000; height:2px; width:100%;"></div>

            <div class="media wow fadeInRight">
                <div class="media-body media-middle">
                    <p style="color:black; font-size:15px" class="garamond">They believe that a traitor sent the items to the detectives 
                    at this party. You don't know which detective has it, but you know this:</p>
                </div>
            </div>
            
            <div style="background-color:#000000; height:2px; width:100%;"></div>

            <div class="media wow fadeInRight">
                <div class="media-body media-middle">
                    <p style="color:black; font-size:15px" class="garamond">INFORMANT DETECTIVE #1: {{ private_tip }}</p>
                    <p style="color:black; font-size:15px" class="garamond">INFORMANT DETECTIVE #1: {{ player_low_accuracy_question }}</p>
                </div>
            </div>
            
            <div style="background-color:#000000; height:2px; width:100%;"></div>

            <div class="media wow fadeInRight">
                <div class="media-body media-middle">
                    <p style="color:black; font-size:15px" class="garamond">The only way to stop the tip from being released is to kill the informant
                    before they share the items with other detectives. This clue expires when the time runs out.</p>
                </div>
            </div>
            
            <div style="background-color:#000000; height:2px; width:100%;"></div>

            <div class="media wow fadeInRight">
                <div class="media-body media-middle">
                    <p style="color:black; font-size:15px" class="garamond">Warning: If you kill a detective that is not an 
                    informant, you will be exposed and the police will kill you.</p>
                </div>
            </div>
            
            <div style="background-color:#000000; height:2px; width:100%;"></div>

            <div class="media wow fadeInRight">
                <div class="media-body media-middle">
                    <p style="color:black; font-size:15px" class="garamond">Scorpio members: {{ other_mafia_display }}</p>
                </div>
            </div>
            
            <div style="background-color:#000000; height:2px; width:100%;"></div>

            <div class="media wow fadeInRight">
                <div class="media-body media-middle">
                    <div style="color: black">
                    <form action="/mafia_find_informant_submit/{{ player_id }}">
                        {% for player in other_players %}

                            <input type="radio" name="player" id="{{ player.id }}" value="{{ player.name}}">
                            <label for="{{ player.id }}">{{ player.name }}</label><br>
                            {% endfor   %}
                            <input type="submit" value="submit">
                        </div>
                    </form>
                </div>
            </div>

            <hr>
            
        </div>
    </section>

    <script>

        // global variables

        // Page load
        document.addEventListener("DOMContentLoaded", () => {

            // LettersRandomPlaces({
            // element: ".animated__word",
            // })

            // LettersRandomPlaces({
            // element: ".animated__word_two",
            // })

            // LettersRandomPlaces({
            // element: ".animated__words",
            // })

            // var ex1 = new Cycle('.image-cycle');

        }); // page load closing

        // Our functions

        LettersRandomPlaces({
            element: ".animated__text",

            // delay in ms
            start_delay_time: 1000,

            // or 'random'
            delay_type: "sequential",

            // duration of the animation
            animation_duration: 5000,

            // type: number
            force: 200,

            // direction
            direction: ['x', 'y'],

            // scale text randomly
            random_scale: false,

            // -1 for random
            rotate: -1,
        })

    </script>

</div>

{% endblock %}