{% extends 'base_newspaper.html' %}
{% load static %}

{% block content %}

<img src="{% static "img/newspaper_two.jpg" %}" id="bg" alt=""/>


<style>
    @font-face { font-family: Olondona; src: url('{% static "fonts/old_london/Olondona.otf" %}'); }
    .news_headline { font-family: Olondona, sans-serif; }
</style>


<style>
.container {
  position: relative;
  text-align: center;
  color: black;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 60px;
}

</style>
<!-- </head>
<body> -->

<div class="container">
    <!-- <img src="{% static "img/newspaper_two.jpg" %}" alt="" style="width:10%; height:10%;"/> -->
    <p style="font-size:75px; color:black;" class="news_headline top-left">The Popcorn Robot Times</p>

    <section id="three" class="no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">
                <br>
                <h1>.</h1>
                <h1>.</h1>
                <h1>.</h1>
                <div style="background-color:#000000; height:7px; width:100%;"></div>
                <h2 style="color:black; text-align:right;"> Los Angeles, CA 2021</h2>
                <p style="color:black; text-align:right;"> Volumn 1</p>
                <div style="background-color:#000000; height:7px; width:100%;"></div>
                <br>
                <img src="{% static "img/police.jpg" %}" max width="100%" class="text-center"/>
            </div>
            <br>
        </div>
    </section>

    <div style="background-color:#000000; height:3px; width:100%;"></div>
    <p style="font-size:60px; color:black;" class="news_headline">You are a Detective</p>
</div>

{% endblock %}
