{% extends 'base_newspaper.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <!-- Heading + Image -->
    <div class="row no-gutter">
        <p class="blocktext garamond" style="font-size:22px;">JIMMY TWO-LIPS SLAIN AT HOME</p>
        <img src="{% static "img/survey_photo.jpg" %}" max width="100%" class="text-center"/>
    </div>

    <!-- Instructions + Text -->
    <div class="row">

        <hr>
        <p>An hour ago, small-time gangster Jimmy Two-Lips was found dead in his home.
        Witnesses heard two gun shots when they called the police.
        Responding officers found the victim deceased in his underwear,
        watching The Real Housewives of Pomona.</p>

        <p>Police officers believe this is the work of criminal organization <em>Scorpio</em>.
        The suspect fled on foot and hid amongst our group here.
        Police are relying on us to find them.
        The suspect is considered armed and dangerous.</p>

        <div style="background-color:#000000; height:1px; width:100%;"></div>

        <p class="blocktext" style="font-size: 25px;">HOW THE GAME WORKS</p>
        <p >The goal is to find the criminal hidden in the group.
        Gather notes and interrogate everyone.
        At the end of the game, everyone will vote on who is the murderer.</p>

        <p>To aid the search, tips are dropped throughout the game
        to reveal information about the murderer.
        Real facts like “this person skydived" that lead to real people.
        It’s your job to talk to each other and find out who the murderer is. </p>

        <div style="background-color:#000000; height:2px; width:100%;"></div>

        <p class="blocktext" style="font-size:25px;">ROLES</p>

        <div class="rules-column">

            <br>
            <img src="{% static "img/male_dete22.jpg" %}" style="width: 100px" class="text-center"/>
    
            <p><strong>Detective</strong></p>
            <p>1. Interrogate everyone. Find murderer.</p>
            <p>2. Spread tips.</p>
            <p>3. Trust no one.</p>

            <br>
            <img src="{% static "img/inform22.jpg" %}" style="width: 100px" class="text-center"/>

            <p><strong>Informant</strong></p>
            <p>1. Spread tip to trusted detectives.</p>
            <p>2. The murderer is hunting you. Keep your identity a secret to stay alive.</p>

            <br>
            <img src="{% static "img/criminal22.jpg" %}" style="width: 100px" class="text-center"/>

            <p><strong>Criminal</strong></p>
            <p>1. Convince everyone you are not the murderer.</p>
            <p>2. Kill detectives before they spread information about you.</p>

        </div>

        <div style="background-color:#000000; height:2px; width:100%;"></div>

        <p class="blocktext" style="font-size:25px;">The Three Cardinal Rules</p>

        <p>1. <em style="font-size:15px">No lies</em>. If someone asks you a question about your life,
        tell them the truth (within reason, of course). You can lie about who you think is 
        the murderer.</p>

        <p>2. <em style="font-size:15px">Check  phone every 10 minutes</em>. Your screen updates with new objectives and important information
        as the game progresses.</p>

        <p>3. <em style="font-size:15px">Hide your screen!</em> Don't compromise your identity. Your screen reveals information
        about your identity.</p>

    </div>

</div>
{% endblock %}