{% extends 'base_newspaper.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <!-- Heading + Image -->
    <div class="row no-gutter">
        <p class="garamond blocktext" style="font-size:20px;">SCORPIO STRIKES AGAIN</p>
        <img src="{% static "img/survey_photo.jpg" %}" max width="100%" class="text-center"/>
    </div>
    <br>

    <!-- Instructions + Text -->
    <div class="garamond">

      <!-- <p>The criminal mastermind, Scorpio, strikes again. This time murdering
        small-time gangster, Jimmy Two-Lips, in his home.
      Witnesses heard two gun shots when they called the police.
      </p>
      <p>Responding officers found the victim in his underwear
      watching The Real Housewives of Pomona. He was pronounced dead at the scene.</p> -->

      <!-- <p>Police officers believe this is the work of criminal organization <em>Scorpio</em>.
      The suspect fled on foot and hid amongst our group here.
      Police are relying on us to find them.
      The suspect is considered armed and dangerous.</p> -->
     <!-- <div style="background-color:#000000; height:1px; width:100%;"></div>
     <br> -->

      <!-- <p><strong>MISSING EVIDENCE FROM POLICE LOCKER!</strong></p> -->
      <p>Evidence linking the mysterious criminal Scorpio to the
      Galway murders went missing last Sunday.
      <!-- This triggered an internal investigation into LAPD's detective unit. -->
      </p>

      <p>Internal Affairs is investigating  detectives
      for possible links to the nefarious criminal.</p>

      <div style="background-color:#000000; height:1px; width:100%;"></div>
      <br>

      <!-- Police spokesman reports that  -->

      <p><strong>HOW THE GAME WORKS</strong></p>


      <p>Detectives have reason to believe Scorpio will infiltrate tonight's party.
        Your goal is to gather notes and find the criminal. </p>

      <p>Tips about Scorpio’s identity will be dropped throughout
        the game. Tips that are real facts (e.g. “this person skydived") that lead to real people.</p>

      <p>At the end of the game, the group will vote on who is Scorpio. </p>

      <div style="background-color:#000000; height:1px; width:100%;"></div>
      <br>

      <p><strong>ROLES</strong></p>

      <img src="{% static "img/male_dete22.jpg" %}" style="width: 100%" class="text-center"/>

      <p><strong>Detective</strong></p>
      <p></p>

      <ol>
        <li>Interrogate everyone to find Scorpio.   </li>
        <li>Spread tips.</li>
        <li>Trust no one.</li>
      </ol>

      <img src="{% static "img/criminal22.jpg" %}" style="width: 100%" class="text-center"/>

      <p><strong>Scorpio</strong></p>

      <ol>
        <li>Convince everyone you are a detective.</li>
        <li>Kill detectives before they spread information about you.</li>
      </ol>

      <!-- <br>
      <img src="{% static "img/inform22.jpg" %}" style="width: 100px" class="text-center"/>

      <p><strong>Informant</strong></p>
      <p>1. Spread tip to trusted detectives.</p>
      <p>2. The murderer is hunting you. Keep your identity a secret to stay alive.</p> -->

      <div style="background-color:#000000; height:2px; width:100%;"></div>

      <br>
      <p><strong>THREE CARDINAL RULES</strong></p>

      <ol>
        <li><p><em style="font-size:15px">No lies</em>. If someone asks you a question about your life,
        tell them the truth (within reason, of course). </p>
        <p>You can lie about who you think is
        the murderer.</p></li>

        <li><p><em style="font-size:15px">Check your phone every 10 minutes</em>.
          Your screen updates with new objectives and important information as the game progresses.</p>
          </li>

        <li><p><em style="font-size:15px">Hide your screen!</em> Your screen reveals your mission and identity.
          </p> </li>
      </ol>

      <div style="background-color:#000000; height:2px; width:100%;"></div>

      <br>
      <h3>PLEASE WAIT HERE</H3>
      <p>When the game starts, this page will automatically update. Leave your phone on this page and wait for
        instructions.
      </p>

      <img src="{% static "img/stop22.jpg" %}" style="width: 100%" class="text-center"/>

      <br>
      <br>
      <br>

</div>
{% endblock %}
