{% extends 'base_newspaper.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">

    <section id="three" class="no-padding">
        <div class="container-fluid">
            <div class="row no-gutter">
                
                <img src="{% static "img/tip_one.jpg" %}" max width="100%" class="text-center"/>
                <!-- <h1 class="animated__word text-center" style="color:rgb(138, 17, 17)">You received a tip</h1> -->
                <!-- <img src="{% static "img/tip_two.jpg" %}" max width="100%" class="text-center"/> -->

                <br>

                <p class="animated__words text-center" style="font-size:30px; color:black">YOU RECEIVED A TIP</p>
                <!-- <br>
                <ul class="image-cycle" 
                        data-target="li" 
                        data-interval="2500" 
                        data-width="100%" 
                        data-speed="1000">
                    <li class="active" ><img src="{% static "img/tip_one.jpg" %}"/></li>
                    <li><img src="{% static "img/tip_two.jpg" %}" /></li>
                </ul> -->
              
            </div>
        </div>
    </section>

    <section class="container-fluid" id="four">
        <div class="row">
            
            <div class="media wow fadeInRight">
                <div class="media-body media-middle">
                    <p style="color:black">An informant risked their life to deliver this information to you. Please make this
                    public announcement to everyone.</p>
                </div>
            </div>
            
            <div style="background-color:#000000; height:2px; width:100%;"></div>

            <div class="media wow fadeInRight">
                <div class="media-body media-middle">
                    <p style="color:black">%%INCLUDE_TIP%% (e.g. "Ladies and gentlemen, new information
                    has come to light. Sources informed me
                    that one of the mafia members likes to travel. Thank you.")</p>
                </div>
            </div>
            <hr>
        </div>
    </section>

    <script>
    
        // global variables
    
        // Page load
        document.addEventListener("DOMContentLoaded", () => {
    
            // LettersRandomPlaces({
            // element: ".animated__word",
            // })

            // LettersRandomPlaces({
            // element: ".animated__words",
            // })

            // var ex1 = new Cycle('.image-cycle');
    
        }); // page load closing
    
        // Our functions
    
        LettersRandomPlaces({
            element: ".animated__text",
    
            // delay in ms
            start_delay_time: 1000,
    
            // or 'random'
            delay_type: "sequential",
    
            // duration of the animation
            animation_duration: 5000,
    
            // type: number
            force: 200,
    
            // direction
            direction: ['x', 'y'],
    
            // scale text randomly
            random_scale: false,
    
            // -1 for random
            rotate: -1,
        })
        
    </script>

</div>

{% endblock %}