{% extends 'base_mafia.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <!-- Heading + Image -->
    <div class="row no-gutter">
        <h1 class="blocktext nerko">MISSION SUCCESS</h1>
        <img src="{% static "img/tip_sent2_2.jpg" %}" max width="100%" class="text-center"/>
    </div>
    <br>

    <!-- Instructions + Text -->
    <div class="walter">

      <p>{{ partner_name }} foolishly gave you critical evidence to return to the police lockers.
        Now you can do what you wanted to do all along.</p>

      <p>Kill {{ partner_name }} and rid yourself of this annoying problem.
        Or keep them alive and make them serve you as a powerful ally. </p>

      <p>The choice is yours.</p>
<!--
      Kill AJ
        <hr>
        <h1>KILL ONLY</h1>
        <p>Your angel face and innocent demeanor served you well.
        The detective, ** AJ **, trusted you with his life. Now, you can take it!</p>

        <h4>You have two options:</h4>
        <ol>
          <li><em>Kill the detective.</em></li>
          <li><p><em>Reveal the tip.</em> If you reveal the tip, you can publicize the information
            and gain the trust of an adoring public. </p>

            <p>Note: If you announce the tip, it must be
            announced accurately. </p></li>
        </ol>

        <p>Kill the detective and rid yourself of this annoying problem.
        Or keep them alive and make them serve you as a powerful ally. The choice is yours.</p>

        <p>** TWO BUTTONS: "REVEAL TIP" and "KILL AJ"</p> -->

        <!-- <div style="background-color:#000000; height:1px; width:100%;"></div>

        <p>The informant is... {{ partner_name }}</p>
        <p>Do you kill {{ partner_name }}?</p> -->

        <a class="button-black" href="/killInformant/{{ informing_player_id }}/{{ player_id }}" style="float:left">
            Kill {{ partner_name }}
        </a>
        <a class="button-black" href="/clearOverrideScreen/{{ player_id }}" style="float:right">
                Let them live
        </a>
        <div style="clear: both;"></div>
    </div>

</div>
{% endblock %}
