{% extends 'base_newspaper.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <!-- Heading + Image -->
    <div class="no-gutter">
        <p class="garamond blocktext" style="font-size:30px;">YOU RECEIVED A TIP</p>
        <img src="{% static "img/tip_one22.jpg" %}" max width="100%" class="text-center"/>
    </div>

    <!-- Instructions + Text -->
    <div class="garamond">

        <hr>

        <p>An informant risked their life to deliver this information to you. Please
        inform a moderator that you would like to make a
        public announcement.</p>

        <div style="background-color:#000000; height:1px; width:100%;"></div>

        <p>%%INCLUDE_TIP%% (e.g. "Ladies and gentlemen, new information)</p>
        <p>{{ private_tip|safe }}</p>
        <p>Once you click the button, this tip will no longer be available</p>
        <a href="/clearOverrideScreen/{{ player_id }}">
            <button class="button-white">I have read the tip</button>
        </a>

        <!-- TODO added below <br> to remove white space from webpage | need to update background image -->
        <br>
        <br>

    </div>

</div>
{% endblock %}