{% extends 'base_newspaper.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <!-- Heading + Image -->
    <div class="row no-gutter">
        <p class="garamond blocktext" style="font-size:25px;">YOU HAVE BEEN MURDERED</p>
        <img src="{% static "img/cemetery22.jpg" %}" max width="100%" class="text-center"/>
    </div>
    <br>

    <!-- Instructions + Text -->
    <div class="row garamond">

        <br>
        
        <p>Please set your corpse down somewhere comfortable.</p>

        <!-- TODO added below <br> to remove white space from wehpage | need to update background image -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
    
    </div>

</div>
{% endblock %}