/* body {

  background-position: 50% 50%;
  background-repeat: repeat; */
  /* display: grid;
  place-content: center;

  min-height: 100vh;
  margin: 0;
  padding: 40px;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', sans-serif; */
/* } */

.garamond {font-family: 'EB Garamond', serif;}

.nanum {font-family: 'Nanum Pen Script', cursive;}

.walter {font-family: 'Walter Turncoat', cursive;}

.nerko {font-family: 'Nerko One', cursive;}

.blocktext {
  margin-left: auto;
  margin-right: auto;
  
} 

.top-left {
  position: absolute;
  top: 8px;
  left: 60px;
}

.top-right {
  position: absolute;
  top: 8px;
  left: 60px;
}

.alignleft {
float: left;
}

.alignright {
float: right;
}

/* submit button */
input[type=button],
input[type=submit] {
    /* background-color: #62529c; */
    border: none;
    /* color: black; */
    padding: 5px 15px;
    text-decoration: none;
    margin: 3px 2px;
    cursor: pointer;
}

.button-white {
  background-color: white;
  border: none;
  color: black;
  padding: 5px 15px;
  text-decoration: none;
  margin: 3px 2px;
  cursor: pointer;
}

.button-black {
  background-color: black;
  border: none;
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  margin: 3px 2px;
  cursor: pointer;
}

    