{% extends 'base_newspaper.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">

    <section id="three" class="no-padding" style="border: 10px solid clear">
        <div class="container-fluid">
            <div class="row no-gutter">

                <p class="animated__words text-center" style="color:black; font-size:30px;">A MURDER WALKS IN...</p>

            </div>
        </div>
    </section>

    <section class="container-fluid" id="four">
        <div class="row">

            <div class="media wow fadeInRight">
                <div class="media-body media-middle">
                    <p style="color:black; font-size:15px" class="garamond">An hour ago, there was a murder down the street.
                    The suspect fled on foot and hid amongst our group here. Little did they know 
                    they hid in a party of seasoned detectives. Police are relying on us to find them.</p>
                </div>
            </div>
           
            <div style="background-color:#000000; height:2px; width:100%;"></div>

            <div class="media wow fadeIn">
                <div class="media-body media-middle">
                    <p style="font-size: 20px; color:black">HOW THE GAME WORKS</p>
                    <p style="color:black; font-size:15px" class="garamond">The game is similar to Mafia. Our goal is to find the criminal hidden in our group.
                    At the end of the game, we vote on who is the murderer.</p>

                    <img src="{% static "img/police22.jpg" %}" max width="100%" class="text-center"/>

                    <br>
                    <br>

                    <p style="color:black; font-size:15px" class="garamond">To help our search, we rely on tips that reveal information about the murderer.
                    Real facts like “this person skydived" that lead to real people.
                    It’s your job to talk to each other and find out who the murderer is. </p>
                    
                </div>
            </div>
           
            <div style="background-color:#000000; height:2px; width:100%;"></div>

            <div class="media wow fadeIn">
                    <div class="media-body media-middle">
                        <p style="font-size:25px; color:black">ROLES</p>
                    </div>
            </div>

            <!-- <div class="media wow fadeIn"> -->
                <!-- <div class="media-body media-middle">
                    <p style="font-size:25px; color:black">ROLES</p>
                </div> -->
            <!-- </div> -->
            
            <!-- <div style="background-color:#000000; height:2px; width:100%;"></div> -->

                <div class="media wow fadeInRight">
                    <div class="media-body media-middle">
                        <div class="col-lg-2">
                            <p><img class="float-left" src="{% static "img/male_dete22.jpg" %}" style="width: 100px" /></p>
                        </div>

                        <div class="col-lg-10">

                            <p class="float-left" style="color:black; font-size:15px" class="garamond"><strong>Detective</strong></p>
                        
                            <ol>
                                <li>Interrogate everyone. </li>
                                <li>Find murderer.</li>
                                <li>Trust no one.</li>
                            </ol>
                        </div>

                    </div>
                </div>

                <div class="media wow fadeInRight">
                    <div class="media-body media-middle">

                        <div class="col-lg-2">
                            <p><img class="float-left" src="{% static "img/inform22.jpg" %}" style="width: 100px" /></p>
                        </div>

                        <div class="col-lg-10">

                            <p class="float-left" style="color:black; font-size:15px" class="garamond"><strong>Informant</strong></p>
                            <br>
                            <ol>
                                <li>Deliver tip to trusted detectives. </li>
                                <li>The murderer is hunting you. Keep your identity a secret to stay alive. </li>
                            </ol>

                        </div>

                    </div>
                </div>

                <div class="media wow fadeInRight">
                    <div class="media-body media-middle">

                        <div class="col-lg-2">
                            <p><img class="float-left" src="{% static "img/criminal22.jpg" %}" style="width: 100px" /></p>
                        </div>

                        <div class="col-lg-10">
                            <p class="float-left" style="color:black; font-size:15px" class="garamond"><strong>Criminal</strong></p>
                            
                            <ol>
                                <li>Convince everyone you are not the murderer. </li>
                                <li>Kill informants before they spread information about you.</li>
                            </ol>
                        </div>

                    </div>
                </div>

            <p>.</p>

            <div style="background-color:#000000; height:2px; width:100%;"></div>

            <div class="media wow fadeIn"> 
                <div class="media-body media-middle">
                    <p style="font-size:25px; color:black">3 Cardinal Rules</p>

                    <ol style="padding-top:15px">

                        <li><p class="garamond" style="font-size:13px"><em style="font-size:18px">No lies</em>. If someone asks you a question about your life,
                        tell them the truth (within reasonable bounds, of course). </p>
                        <p>You can lie about who you think is the murderer.</p></li>

                        <li><p class="garamond" style="font-size:13px"><em style="font-size:18px">Check  phone every 10 minutes</em>. Your screen updates with new objectives and important information
                        as the game progresses.</p></li>

                        <li><p class="garamond" style="font-size:13px"><em style="font-size:18px">Hide your screen!</em> Don't compromise your identity. Your screen reveals information
                        about your identity.</p></li>

                    </ol>
                </div>
            </div>
            
            <div style="background-color:#000000; height:2px; width:100%;"></div>

            <div class="media wow fadeInRight">
                <div class="media-body media-middle">
                    <p><a href="/role_assignment?pid={{ player_id }}"><button type="button" style="color:white;" class="btn btn-secondary">Assign character</button></a></p>
                </div>
            </div>
        
        </div>
    </section>

</div>

{% endblock %}